.Home{
    background-color: white;
    min-height: 100vh;
    min-width: 100%;
}
.topicos{
    height: 80vh;
}
.capa{
    /*background-color: #2e2746;*/
    background: linear-gradient(90deg, rgb(8, 0, 37) 0%, rgba(30,0,86,1) 24%, rgba(62,0,128,1) 65%, rgba(128,0,255,1) 100%);
    color: white;
    display: flex;
    justify-content: space-around;

}
.capa div{
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}
.capa h1{
    font-size: 50px;
    
}
.capa h2{
    text-align: center;
    font-size: 25px;
}
.capa img{
    align-self: center;
    height: 70%;
    transform:rotate(-25deg);
    overflow:hidden;
    animation: slidein ease-in-out;
    animation-duration: 2s;
}
@keyframes slidein {
    from {
      transform: translateX(100%) ;
    }
    to {
      transform: translateX(0) rotate(-25deg);
    }
}

.sobre{
    background-color: #2B2D42;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around;
}
.sobre div{
    align-self: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    width: 400px;
}
.sobre h2{
    font-size: 40px;
}
.sobre p{
    color:darkgray;
    padding-top:10px;
    text-align: justify;
    font-size: 20px;
}
.sobre p span{
    font-weight: bold;
    color:orangered;
    text-decoration: underline;
    font-size: 30px;
}
.sobre img{
    align-self: center;
    height: 80%;
    max-width: 800px;
}

.servicos{
    background: linear-gradient(90deg, rgba(30,0,86,1) 0%, rgba(94,0,255,1) 100%);
    display: grid;
    justify-content: center;
    align-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.servicos h2{
    text-align: center;
    color: white;
    font-size: 40px;
}
.servicos ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
}
.servicos li{
    background-color: #2B2D4250;
    border-radius: 5%;
    padding: 20px;
    display: grid;
    width: 25%;
}
.servicos li img{
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    justify-self: center;
}
.servicos li h3{
    text-align: center;
    font-size: 30px;
}
.servicos li p{
    font-size: 18px;
    color:rgb(226, 223, 223);
    text-align: justify;
}

@media screen and (max-width: 1080px) {
    .capa{
        justify-content: left;
    }
    .capa img{
         height: 50%;
    }
    .sobre img{
        height: 50%;
    }
    .servicos img{
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    .capa{
        display: grid; 
        justify-items: center;  
        text-align: center;
    }
    .capa div{
        padding-bottom: 0;
    }
    .capa h1{
        font-size: xx-large;
    }
    .capa img{
        animation: none;
        transform: none;

        height: 80%;
    }
    .capa h2,.sobre h2, .sobre p span,.servicos li h3{
        font-size:x-large;
    }
    .sobre p {
        font-size: medium;
    }
    .servicos{
        padding: 5%;
    }
    .servicos ul{
        justify-content: space-between;
    }
    .servicos li p{
        font-size: small;
    }
}

