.tabela{
    min-height: 100vh;
    min-width: calc(100% - 100px);
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(2,0,11);
    background: linear-gradient(90deg, rgba(2,0,11,1) 0%, rgba(10,1,27,1) 0%, rgba(62,0,128,1) 70%, rgba(94,0,255,1) 100%);
    display: flex;
    padding:50px ;
    overflow-x: visible;
    justify-content: center;
    table{
        
        min-width: 70% ;
        height: max-content;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #f5f5f5;
        overflow-x: visible;
     
        thead{
            width: max-content;
            text-align: center;
            text-transform: uppercase;
            font-size: x-large;
           
            th {
                
                background-color: #333;
                color: #fff;
                padding:5px;
                div{
                    display: flex;
                    justify-content: right;
                    
                }
                input{
                    background-color: #928e8e;
                    height: 100%;
                    width: 100%;
                    padding: 5px 0 ;
                    text-transform: uppercase;
                }

            }
            button{

                color:white;
                padding: 5px;
                text-transform: uppercase;
                font-weight: bolder;
                background : rgb(190, 11, 11);
                border: rgb(83, 17, 17) solid 2px;
            }
        }
        tbody{
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: large;
        }
        tr{
            border: 1px solid black;
            padding:5px;
            align-content: center;
            &:nth-child(even) {
                background-color: #dad8d8;
            }
            &:hover {
                background-color: #ccc;
            }
        }
        td{
            border: 1px solid black;
            min-width: 200px;
        }
        button{
            cursor: pointer;
            
            margin: 3px;
           
        }
        .remover{
            align-self: center;
            border-radius: 10px; 
            box-shadow : 0px 10 10px 10px rgba( 0, 0, 0, .25 );
            width: 25px;
            height: 25px;
            background : rgb(190, 11, 11);
            border: rgb(83, 17, 17) solid 2px;
           
            position:relative;
            text-indent : -9999px;
            &:before,&:after{
                content:'';
                width      : 55%;
                height     : 2px;
                background : white;
                position:absolute;
                top        : 48%;
                left       : 22%;
                -webkit-transform : rotate(-deg);
                -moz-transform    : rotate(-45deg);
                -ms-transform     : rotate(-45deg);
                -o-transform      : rotate(-45deg);
                transform         : rotate(-45deg);
                -webkit-transition : all 0.3s ease-out;
                -ms-transition     : all 0.3s ease-out;
                -moz-transition    : all 0.3s ease-out;
                -o-transition      : all 0.3s ease-out;
                transition         : all 0.3s ease-out;
            }
            
            &:after{
                -webkit-transform : rotate(45deg);
                -moz-transform    : rotate(45deg);
                -ms-transform     : rotate(45deg);
                -o-transform      : rotate(45deg);
                transform         : rotate(45deg);
                -webkit-transition : all 0.3s ease-out;
                -moz-transition    : all 0.3s ease-out;
                -ms-transition     : all 0.3s ease-out;
                -o-transition      : all 0.3s ease-out;
                transition         : all 0.3s ease-out;
            }
            &:hover{
                &:before,
                &:after{
                -webkit-transform : rotate(180deg);
                -moz-transform    : rotate(180deg);
                -ms-transform     : rotate(180deg);
                -o-transform      : rotate(180deg);
                transform         : rotate(180deg);
                }
            }
        }
        .enviar,.editar{
            width: 27px;
            height: 27px;
            position:relative;
            align-self: center;
            
            color:white;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 100%;
            padding: 0;
            border:0;
            img{
                width: 25px;
                height: 25px;
                border:1px solid black;
                border-radius: 100%;
            }
        }
        .editar{
            background-color: transparent;
        }
        .enviar{
            background-color: darkgreen;
        }
        input{
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            text-align: center;
            background-color: #a5c0fa;
            color: black;
            font-weight: bolder;
            border: 1px solid black;
            overflow-x: scroll;
        }
    }
}

.editarButton{
    -webkit-backface-visibility: hidden;
    position: fixed;
    bottom: 10%;
    right: 5%;
    background: rgb(2,0,11);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    img{
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
    div{
        position: absolute;
    }
}

.formulario{
    -webkit-backface-visibility: hidden;
    background-color: #252525;
    position: fixed;
    display: grid;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    max-width: calc(100% - 100px - 10% - 100px) ;
    max-height: 50%;
    overflow-y: scroll;
    bottom:25%;
    left: calc(100px + 3%);
    form{
        display: grid;
        justify-self: center;
        &:first-child{
            padding-top:10px;
            padding-bottom: 5%;
        }
        input,button{
            padding: 5px;
            margin-bottom: 3px;
        }
        button{
            background-color: rgb(31, 32, 78);
            cursor:pointer;
            font-size: medium;
            font-weight: bolder;
            color: white;
        }
        input{
            background-color: rgb(255, 255, 255);
            text-align: center;
            font-weight: bolder;
            overflow-x: scroll;
        }
    }

}